@import "../../../styles/mixins";

.home_main {
    position: relative;
    min-height: calc(100vh - 7rem);
    min-height: calc(100dvh - 7rem);
    display: flex;
    flex-direction: column;
    // border: 4px solid #1eb961;
}


.mobile_image {
    height: 5rem;
    @include flexBox();
    margin: auto;
    width: 98%;
    // border: 1px solid #992626;
    img {
        position: relative;
        z-index: -1;
        width: min(20rem, 65%);
        filter: drop-shadow(1px 4px 30px rgba(5, 5, 5, 0.5));
        animation: topbottom 4s infinite;
    }
}

@keyframes topbottom {
    0% {
        opacity: 1;
        margin-top: 0rem;
    }

    50% {
        opacity: 0.9;
        margin-top: -3rem;
    }

    100% {
        opacity: 1;
        margin-top: 0rem;
    }
}

.footerText{
    margin: 0rem auto;
    width: min(50rem , 90%);
    @include flexBox(column);
    text-align: center;
    text-transform: capitalize;
    // border: 1px solid #992626;
}

.footer_home {
    padding: 3rem 7rem;
    margin-top: auto;
    @include flexBox(row, space-between, flex-end);
}


// .jicro_info_section{
//     border: 1px solid #eee;
// }
.jicro_info {
    @include flexBox(column, space-between, flex-end);
    text-transform: capitalize;

    p {
        color: var(--secondry-color);
        font-weight: 500;
        text-shadow: 0px 0px 10px black;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: 0.2rem;
        font-family: var(--specail-font);
        font-weight: 900;
        opacity: 1;
        text-shadow: -1px -1px 0 #000000c0, 1px -1px 0 #000, -1px 1px 0 #000000b6, 1px 1px 0 #000000af;
    }
}

.social_icon {
    @include flexBox(row, flex-start, flex-end, 1rem);
    margin-top: 1rem;

    svg {
        opacity: 0.5;
        width: 2rem;
        height: 2rem;

        &:hover {
            opacity: 1;
        }

    }
}

.readmore {
    text-transform: capitalize;
    opacity: 0.6;
    transition: 0.30s ease;
    cursor: pointer;
    @include flexBox(column, center, flex-end, 0.2rem);

    svg {
        transition: 0.30s ease;
    }

    &:hover {
        opacity: 1;

        svg {
            margin-inline: 0.6rem;
        }
    }

    &:active {
        opacity: 0.5;
    }
}

@media (max-width:850px) {
    .footer_home {
        padding: 2rem;
    }
}


@media (max-width:550px) {
    .nav_home {
        padding: 2rem 1rem 6rem;
    }

    .footer_home {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .jicro_info {
        p {
            font-size: 0.8rem;
        }

        h1 {
            font-size: 3rem;
        }
    }

    .readmore {
        padding: 0.5rem;
        gap: 1rem;
        flex-direction: row;
    }
}

.homeNav{
    padding: 2rem 2rem;
    margin-bottom: 11rem;
}
@media (max-width:550px) {
    .homeNav{
        // padding: 2rem 1rem;
        margin-bottom: 5rem;
       }
    }