@import "../../styles/mixins";


.card{
    padding:2rem 1rem;
    width: min(20rem , 95%);
    // border: 1px solid #eee;
    @include flex_box(column);
    background: rgba(39, 29, 97, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 21px -5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20);
}
.card_img{
    height: 7rem;
    width: 100%;
    @include flex_box(column);
    img{
        height: 100%;
        background-color: rgba(135, 135, 135, 0.87);
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    p{
        font-weight: 600;
        text-transform: capitalize;
    }
}

.socail_link{
    @include flex_box();
}
.paragraph{
    margin-top: 1rem;
    font-size: 0.93rem;
    line-height: 1.2rem
}