@import "../../styles/mixins";


.aboutPage{
    display: flex;
    flex-direction: column;
}
.AboutText{
    margin: 1rem auto 3rem;
    width: 95%;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}
.AboutContainer{
    margin: auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.614);
    width: min(60rem , 90%);
    border-radius: 0.5rem;
    box-shadow: 1px 7px 21px rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
    h1{
        text-align: center;
        margin: 0.5rem 0.2rem 1rem;
        font-weight: 600;
        font-size: 1.7rem;
    }
    p{
        opacity: 0.9;
        line-height: 1.5rem;
        word-spacing: 0.3rem;
        font-weight: 400;
    }
}

.cardContainer{
    margin: 2rem auto;
    @include flex_box();
    flex-wrap: wrap;
}