@import "../../styles/mixins";



.header{
    margin: 1rem auto 3rem;
    width: 95%;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.9rem;
    }
}
.tandcContainer{
    margin: auto;
    padding: 1rem;
    background: rgba(39, 29, 97, 0.05);
    width: min(60rem , 90%);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 21px -5px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
    h1{
        // text-align: center;
        margin: 0.2rem 0rem;
        font-weight: 600;
        font-size: 1.4rem;
    }
    p{
        line-height: 1.4rem;
        word-spacing: 0.1rem;
        font-weight: 500;
        font-size: 0.9rem;
    }
}

.cardContainer{
    margin: 2rem auto;
    @include flex_box();
    flex-wrap: wrap;
}