@import "./mixins";

.model{
@include flex_box();
}
.no-scroll{
    overflow: hidden;
}
.modal_main{
    margin: 2rem;
    padding: 4rem;
    border: 5px solid #eee;
    position: fixed;
    z-index: 200;
    background-color: rgb(16, 13, 13);
}
.headerText{
    font-weight: 700;
    font-size: 2rem;
}


// components

button{
    @include flex_box();
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: inherit;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    // box-shadow: 2px 3px 5px rgba(252, 252, 252, 0.15) inset;
}